.App {
  text-align: center;
}

body{
  font-family: 'Montserrat', sans-serif;
}

body > * {
  font-family: 'Montserrat', sans-serif;
}

.AppBar{
  margin-top: 10px;
  float: right;
  
  & > * {
    margin: 10px;

  }
}

.t-ellip{
  text-overflow: ellipsis;
}

.rootstyle{
  background:"#edf4ff",
} 

div > * {
  scrollbar-color: #96baf5 white;
  scrollbar-width: thin;
}

body > * {
  scrollbar-color: #96baf5 white;
  scrollbar-width: thin;
}

iframe > * {
  scrollbar-color: #96baf5 white;
  scrollbar-width: thin;
}
ul > * {
  scrollbar-color: #96baf5 white;
  scrollbar-width: thin;
  
}

main > *{
  scrollbar-color: #96baf5 white;
  scrollbar-width: thin;
}

*::-webkit-scrollbar{
  width: 10px;
}
*::-webkit-scrollbar-track{
 background: #96baf5;
 border-radius: 50px;
}
*::-webkit-scrollbar-thumb{
  background: #edf4ff;
  border-radius: 50px;
 }
 *::-webkit-scrollbar{
  width: 10px;
}
*::-webkit-scrollbar-track{
 background: #96baf5;
 border-radius: 50px;
}
*::-webkit-scrollbar-thumb{
  background: #96baf5;
  border-radius: 50px;
 }

.saludAppBar{
  width: 100%;
  height: 123px;
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.titleSalud{
  font-size: 4.5rem !important;
}
@media only screen and (max-width: 600px) {
  .titleSalud{
    font-size: 2.5rem !important;
  }
}

.saludLogo{
  width: 100%;
  height: 80px;
  margin: 6px;
}
.escudoLogo{
  width: 100%;
  height: 80px;
  margin: 8px;
}

.customclip{
  clip-path: circle(84.5% at 91% 48%);
}
#wrapper {
  height: 100%;
  position: absolute;
}
#deckgl-overlay{
  position: relative !important;
  z-index: 9999 !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.logo{
  position: relative;
top: -40px;
overflow: hidden;
height: 170px;
width: auto;
}